.App {
  text-align: center;
}

.mainDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.line{
  
  background: #000;
  height: 0.33em;
  width: 100%;
  
}

.boxcontainer{
  display: flex;
  position: absolute;
}
.childBox{
  height: 5.5em;
  width: 3em;
  margin: 4px;
  border: 1.8px solid rgb(10, 10, 10);
  background: #ffffff;
  font-size: small;
  font-weight: 700;
  padding-top: 0.6em;
}

.upCircle2{
  position: relative;
  padding-bottom: 34px;
}

.slant-line {
  width: 90px;
  height: 2px;
  background-color: rgb(20, 19, 19);
  transform: rotate(28deg);
  transform-origin: left;
}

